dist
node_modules
pokemon-api/dist/main.js
pokemon-api/dist/main.js
pokemon-api/dist/main.js.LICENSE.txt
pokemon-api/dist/service-worker.js
pokemon-api/dist/workbox-543be79b.js
pokemon-api/dist/main.js
